.camera{
  width: 300px;
  height:300px;
}
.result{
  width: 300px;
  height:300px;
}

.auswahl {
  text-align: center;
}

img {
  width: 45%;
  vertical-align: middle;
}

.bauschritte {
   text-align: center;
}

.scanner {
  display: none;
}