head{margin: 0 auto}
div{margin: 0 auto}
h1{text-align: center}
h2{text-align: center}
input{margin:center}

.camera{
  width: 400px;
  height:300px;
  border: 1px solid black;
  position: relative
}
.result{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  
}

.auswahl{text-align: center}

img {
  width: 45%;
  vertical-align: middle;
}

.bauschritte {
   text-align: center;
   display: none;
}

.bauschritte img{
    width: auto;
    height: 634px;
}

.scanner {display: none}

#confirm-button{
    display:none;
    margin: 0 auto;
}

.end{
    display: none;
    text-align: center;
}